html, body {
    width: 100vw;
    height: 100vh;
    border: 0;
    padding: 0;
    margin: 0;
    background-color: #33313b;
}

body {
    position: relative;
    display: flex;
    flex-direction: row;
}

.painter-board {
    width: 65%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.input-texting {
    position: absolute;
}

.right-border {
    width: 2px;
    height: 70%;
    background-color: #fdc57b;
    position: absolute;
    top: 15%;
    right: 0;
}

.tool-board {
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.color-pad {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#color-pad-gen {
    display: flex;
    justify-content: center;
}

.color-picker.static {
    display:inline-block !important;
    position:static !important;
    top:0 !important;
    left:0 !important;
}

.tool-setting {
    width: 100%;
    height: 15%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#font {
    margin-right: 15px;
}

.tool-setting .select-list {
    background-color: #33313b;
    color: #fdc57b;
    width: 80px;
    height: 30px;
    font-size: .8em;
}

.brush-set {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

.icon-brush {
    transform: rotate(20deg);
}

.toolset {
    width: 100%;
    height: 55%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 30px;
}

.toolset-row {
    width: 70%;
    height: calc(100% / 5.5);
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid #fdc57b;
}

.toolset-icon {
    width: calc(100% / 3);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.toolset-icon:hover {
    background-color: rgba(253, 197, 123, .3);
}

.toolset-icon.selected {
    background-color: rgba(253, 197, 123, .7);
}

.toolset-icon img {
    cursor: pointer;
}

.upload {
    background-image: url('./assets/icon_upload.svg');
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
}

.picture {
    background-image: url('./assets/icon_picture.svg');
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
}

#imageLoader, #imageLoader-picture {
    display: none;
}

#canvas {
    border-radius: 3%;
    border: 1px solid #fdc57b;
    box-shadow: 3px 3px rgba(255,255,255,.3);
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .7);
    z-index: 10000;

    display: flex;
    align-items: center;
    justify-content: center;
}
.popout {
    width: 50vw;
    height: 600px;

    background-color: #1c1c1c;
    border: .5px solid #fdc57b;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
}
.popout .display-part {
    width: 100%;
    height: 65%;
    position: relative;
    overflow: hidden;
    padding: 1px 1px 0 1px;
}

.display-exit {
    background-color: #fdc57b;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0;
    right: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 9px 0 0;
    cursor: pointer;
    z-index: 10000;
}
.popout .tool-part {
    width: 100%;
    height: 35%;

    display: flex;
    align-items: center;
    justify-content: center;
    border-top: #fdc57b 1px solid;
}
.popout .tool-part .tool-part-photo:hover {
    width: 80px;
    height: 80px;
    background-color: rgba(253, 197, 123, .3);
    
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#video-camera {
    width: calc(100% - 2px);
    height: calc(100% - 1px);
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.hide {
    display: none;
}

.upload {
    cursor: pointer;
}

.picture {
    cursor: pointer;
}